[Unit]
Description=run next js mayday.net

[Service]
Type=simple
User=root
Group=root
ExecStart=/var/www/mayday/run.sh

[Install]
WantedBy=multi-user.target
